<div class="relative overflow-hidden bg-gray-900">
  <div class="flex items-center justify-center p-5">
    <p class="text-2xl md:text-3xl font-bold tracking-tight text-sky-400">
      نسألكم الدعاء فضلا وليس امرا
    </p>
  </div>
  <div class="info flex place-content-center mb-8">
    <div class="namee" *ngIf="selectedSurah">
      <h2 class="text-4xl font-bold tracking-tight text-sky-400 italic">
        {{ selectedSurah.name }}
        <span
          class="inline-flex items-center justify-center w-15 h-15 rounded-full border text-center"
          >{{ selectedSurah.number }}
        </span>
      </h2>
    </div>
  </div>
</div>
<div class="content flex">
  <div class="r w-[40] md:w-[20%] bg-gray-900 md:px-5">
    <div
      class="cursor-pointer mx-1 text-sm md:text-2xl mb-4 text-white md:p-4 border-2 border border-[#80caff] rounded-2xl shadow shadow-2xl transition-all duration-300 ease-in-out hover:text-black hover:scale-110 hover:bg-white"
      *ngFor="let surah of surahsName; let i = index"
      [ngClass]="{ active: i == selectedSurah.number - 1 }"
      routerLink="/surah/{{ surah.englishName }}/{{ surah.number }}"
      routerLinkActive="active"
    >
      <div class="flex items-center w-fit">
        <h1 class="font-bold p-1">{{ surah.name }}</h1>
      </div>
    </div>
  </div>
  <div class="l w-[60%] md:w-[80%]">
    <div class="box md:mt-10 md:mb-5 ps-2 md:px-5" *ngIf="selectedSurah">
      <div
        class="text-xl text-sky-800 md:text-4xl leading-10 italic mb-0 md:mb-5 flex items-center justify-center"
      >
        بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ
      </div>
      <div>
        <div class="ayah italic" *ngIf="selectedSurah">
          <div
            class="inline"
            *ngFor="let ayah of selectedSurah.ayahs; let i = index"
          >
            <p class="inline text-xl md:text-2xl">
              {{ ayah.text }}
              <span
                class="inline-flex items-center justify-center w-7 h-7 md:w-10 md:h-10 rounded-full border text-center"
              >
                {{ ayah.numberInSurah }}
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
